<!DOCTYPE html>
<html lang="en-US">
{{ partial "head.html" . }}
{{ $data := index .Site.Data .Site.Language.Lang }}




<body
    class="post-template-default single single-post postid-824 single-format-standard wp-custom-logo wp-embed-responsive group-blog">

    {{ partial "header.html" . }}
    {{ $page_title_data := .Params.Title }}
    {{ $scratch := .Scratch }}
    {{ range $data.trends.pages }}
        {{ if eq $page_title_data .name }}
            {{ $scratch.Set "col1" .para1.col1 }}
            {{ $scratch.Set "col2" .para1.col2 }}
            {{ $scratch.Set "row1" .para1.row1 }}
            {{ $scratch.Set "row2" .para1.row2 }}
            {{ $scratch.Set "sub" .sub }}
            {{ $scratch.Set "img1" .img1 }}
            {{ $scratch.Set "img2" .img2 }}
            {{ $scratch.Set "category" .category }}
            {{ $scratch.Set "name" .name}}
        {{ end }}
    {{ end }}
    
    <script type='text/javascript'
        src='https://platform-api.sharethis.com/js/sharethis.js#property=5ebd8263a356d90013c4b05b&product=inline-share-buttons&cms=sop'
        async='async'></script>

    <div id="tendances">

        <section id="intro" class="d-flex justify-content-start align-items-center inner single"
            style='background: url( {{ .Scratch.Get "img1" | safeHTML }} ) center center no-repeat #000; background-size: cover;'>
        </section>

        <section id="main-content" style="background-color: #f2f2ee;">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>
                            <span>{{ .Scratch.Get "sub" | safeHTML }}</span>
                            {{ .Scratch.Get "name" | safeHTML }}
                        </h1>
                    </div>
                    {{ .Scratch.Get "col1" | safeHTML }}
                    {{ .Scratch.Get "col2" | safeHTML }}

                   
                </div>
            </div>

            <div id="article-photo" class="row">
                <div class="col-12">
                    <img src="{{ .Scratch.Get "img2" | safeHTML  }}"
                        alt="" />
                </div>
            </div>

            <div class="container">

                {{ .Scratch.Get "row1" | safeHTML }}

                {{ .Scratch.Get "row2" | safeHTML }}

                <div class="row">
                    <div class="col-12 partage">
                        <div class="sharethis-inline-share-buttons"></div>
                    </div>
                </div>

            </div>

        </section>

    </div>



    {{ partial "footerlogo.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "last.html" . }}
</body>

</html>