{{ $data := index .Site.Data .Site.Language.Lang }}
<div class="col-lg-8 p-0">
    <div class="contact-form-container wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
        
<div class="wpforms-container wpforms-container-full" id="wpforms-791">
    <form id="wpforms-form-791" class="wpforms-validate wpforms-form" data-formid="791"
        method="post" enctype="multipart/form-data" action="{{ $data.contact_link | safeHTML  }}"
        data-token="837f359d944a92e4475be053cf1711b5"><noscript
            class="wpforms-error-noscript">{{ $data.contact_form.no_js | safeHTML  }}</noscript> 
        <div class="wpforms-field-container">
            <div id="wpforms-791-field_2-container"
                class="wpforms-field wpforms-field-text wpforms-one-half wpforms-first"
                data-field-id="2"><label class="wpforms-field-label wpforms-label-hide"
                    for="wpforms-791-field_2">{{ $data.contact_form.first_name | safeHTML  }}<span
                        class="wpforms-required-label">*</span></label><input type="text"
                    id="wpforms-791-field_2" class="wpforms-field-large wpforms-field-required"
                    name="wpforms[fields][2]" placeholder="{{ $data.contact_form.first_name | safeHTML  }}" required></div>
            <div id="wpforms-791-field_3-container"
                class="wpforms-field wpforms-field-text wpforms-one-half" data-field-id="3">
                <label class="wpforms-field-label wpforms-label-hide"
                    for="wpforms-791-field_3">{{ $data.contact_form.name | safeHTML  }} <span
                        class="wpforms-required-label">*</span></label><input type="text"
                    id="wpforms-791-field_3" class="wpforms-field-large wpforms-field-required"
                    name="wpforms[fields][3]" placeholder="{{ $data.contact_form.name | safeHTML  }}" required></div>
            <div id="wpforms-791-field_5-container"
                class="wpforms-field wpforms-field-phone wpforms-one-half wpforms-first"
                data-field-id="5"><label class="wpforms-field-label wpforms-label-hide"
                    for="wpforms-791-field_5">{{ $data.contact_form.phone | safeHTML  }}</label><input type="tel"
                    id="wpforms-791-field_5" class="wpforms-field-large wpforms-masked-input"
                    data-inputmask="&#039;mask&#039;: &#039;(999) 999-9999&#039;"
                    data-rule-us-phone-field="true" data-inputmask-inputmode="tel"
                    name="wpforms[fields][5]" placeholder="{{ $data.contact_form.phone | safeHTML  }}"></div>
            <div id="wpforms-791-field_6-container"
                class="wpforms-field wpforms-field-email wpforms-one-half" data-field-id="6">
                <label class="wpforms-field-label wpforms-label-hide"
                    for="wpforms-791-field_6">{{ $data.contact_form.mail | safeHTML  }} <span
                        class="wpforms-required-label">*</span></label><input type="email"
                    id="wpforms-791-field_6" class="wpforms-field-large wpforms-field-required"
                    name="wpforms[fields][6]" placeholder="{{ $data.contact_form.mail | safeHTML  }}" required></div>
            <div id="wpforms-791-field_7-container" class="wpforms-field wpforms-field-textarea"
                data-field-id="7"><label class="wpforms-field-label wpforms-label-hide"
                    for="wpforms-791-field_7">{{ $data.contact_form.message | safeHTML  }} <span
                        class="wpforms-required-label">*</span></label><textarea
                    id="wpforms-791-field_7" class="wpforms-field-large wpforms-field-required"
                    name="wpforms[fields][7]" placeholder="{{ $data.contact_form.message | safeHTML  }}" required></textarea>
            </div>
        </div>
        <div class="wpforms-field wpforms-field-hp"><label for="wpforms-791-field-hp"
                class="wpforms-field-label">Message</label><input type="text" name="wpforms[hp]"
                id="wpforms-791-field-hp" class="wpforms-field-medium"></div><input
            type="hidden" name="wpforms[recaptcha]" value="">
        <div class="wpforms-submit-container"><input type="hidden" name="wpforms[id]"
                value="791"><input type="hidden" name="wpforms[author]" value="1"><input
                type="hidden" name="wpforms[post_id]" value="502"><button type="submit"
                name="wpforms[submit]" class="wpforms-submit btn-plane" id="wpforms-submit-791"
                value="wpforms-submit" aria-live="assertive" data-alt-text="Send"
                data-submit-text=""></button></div>
    </form>
</div>
<div class="career-form">
    <div class="btn-career">
        <span>{{ $data.contact_form.hero_text1 | safeHTML  }}</span>
        {{ $data.contact_form.hero_text2 | safeHTML  }} <i class="fas fa-plus plus-icon"></i>
    </div>
    <div class="form-career">
        <p class="white">{{ $data.contact_form.text1 | safeHTML  }}</p>
        <div class="wpforms-container wpforms-container-full" id="wpforms-789">
            <form id="wpforms-form-789" class="wpforms-validate wpforms-form" data-formid="789"
                method="post" enctype="multipart/form-data"
                action="/en/contact/?wpforms_form_id=789"
                data-token="837f359d944a92e4475be053cf1711b5"><noscript
                    class="wpforms-error-noscript">{{ $data.contact_form.no_js | safeHTML  }}</noscript>
                <div class="wpforms-field-container">
                    <div id="wpforms-789-field_11-container"
                        class="wpforms-field wpforms-field-text" data-field-id="11"><label
                            class="wpforms-field-label" for="wpforms-789-field_11">{{ $data.contact_full_name | safeHTML  }}</label><input type="text" id="wpforms-789-field_11"
                            class="wpforms-field-large" name="wpforms[fields][11]"></div>
                    <div id="wpforms-789-field_2-container"
                        class="wpforms-field wpforms-field-email" data-field-id="2"><label
                            class="wpforms-field-label" for="wpforms-789-field_2">{{ $data.contact_form.email | safeHTML  }} <span
                                class="wpforms-required-label">*</span></label><input
                            type="email" id="wpforms-789-field_2"
                            class="wpforms-field-large wpforms-field-required"
                            name="wpforms[fields][2]" required></div>
                    <div id="wpforms-789-field_4-container"
                        class="wpforms-field wpforms-field-phone" data-field-id="4"><label
                            class="wpforms-field-label" for="wpforms-789-field_4">{{ $data.contact_form.phone | safeHTML  }}
                            <span class="wpforms-required-label">*</span></label><input
                            type="tel" id="wpforms-789-field_4"
                            class="wpforms-field-large wpforms-field-required"
                            data-rule-int-phone-field="true" name="wpforms[fields][4]" required>
                    </div>
                    <div id="wpforms-789-field_13-container"
                        class="wpforms-field wpforms-field-text" data-field-id="13"><label
                            class="wpforms-field-label" for="wpforms-789-field_13">{{ $data.contact_form.job | safeHTML  }}</label><input type="text"
                            id="wpforms-789-field_13" class="wpforms-field-large"
                            name="wpforms[fields][13]"></div>
                    <div id="wpforms-789-field_8-container"
                        class="wpforms-field wpforms-field-file-upload wpforms-one-half wpforms-first"
                        data-field-id="8"><label class="wpforms-field-label"
                            for="wpforms-789-field_8">{{ $data.contact_form.cv | safeHTML  }} <span
                                class="wpforms-required-label">*</span></label>
                        <div class="wpforms-uploader" data-field-id="8" data-form-id="789"
                            data-input-name="wpforms_789_8"
                            data-extensions="jpg,jpeg,jpe,gif,png,bmp,tiff,tif,webp,ico,heic,asf,asx,wmv,wmx,wm,avi,divx,mov,qt,mpeg,mpg,mpe,mp4,m4v,ogv,webm,mkv,3gp,3gpp,3g2,3gp2,txt,asc,c,cc,h,srt,csv,tsv,ics,rtx,css,vtt,mp3,m4a,m4b,aac,ra,ram,wav,ogg,oga,flac,mid,midi,wma,wax,mka,rtf,pdf,class,tar,zip,gz,gzip,rar,7z,psd,xcf,doc,pot,pps,ppt,wri,xla,xls,xlt,xlw,mpp,docx,docm,dotx,dotm,xlsx,xlsm,xlsb,xltx,xltm,xlam,pptx,pptm,ppsx,ppsm,potx,potm,ppam,sldx,sldm,onetoc,onetoc2,onepkg,oxps,xps,odt,odp,ods,odg,odc,odb,odf,wp,wpd,key,numbers,pages,svg,svgz"
                            data-max-size="134217728" data-max-file-number="1"
                            data-post-max-size="134217728" data-max-parallel-uploads="4"
                            data-parallel-uploads="true" data-file-chunk-size="2097152">
                            <div class="dz-message">
                                <svg viewBox="0 0 1024 1024" focusable="false" class=""
                                    data-icon="inbox" width="50px" height="50px" fill="#B1B1B1"
                                    aria-hidden="true">
                                    <path
                                        d="M885.2 446.3l-.2-.8-112.2-285.1c-5-16.1-19.9-27.2-36.8-27.2H281.2c-17 0-32.1 11.3-36.9 27.6L139.4 443l-.3.7-.2.8c-1.3 4.9-1.7 9.9-1 14.8-.1 1.6-.2 3.2-.2 4.8V830a60.9 60.9 0 0 0 60.8 60.8h627.2c33.5 0 60.8-27.3 60.9-60.8V464.1c0-1.3 0-2.6-.1-3.7.4-4.9 0-9.6-1.3-14.1zm-295.8-43l-.3 15.7c-.8 44.9-31.8 75.1-77.1 75.1-22.1 0-41.1-7.1-54.8-20.6S436 441.2 435.6 419l-.3-15.7H229.5L309 210h399.2l81.7 193.3H589.4zm-375 76.8h157.3c24.3 57.1 76 90.8 140.4 90.8 33.7 0 65-9.4 90.3-27.2 22.2-15.6 39.5-37.4 50.7-63.6h156.5V814H214.4V480.1z">
                                    </path>
                                </svg>
                                <span class="modern-title">
                                    {{ $data.contact_form.upload_text | safeHTML  }} </span>

                            </div>
                        </div>
                        <input type="text" class="dropzone-input"
                            style="position:absolute!important;clip:rect(0,0,0,0)!important;height:1px!important;width:1px!important;border:0!important;overflow:hidden!important;padding:0!important;margin:0!important;"
                            id="wpforms-789-field_8" name="wpforms_789_8" required>
                    </div>
                    <div id="wpforms-789-field_9-container"
                        class="wpforms-field wpforms-field-file-upload wpforms-one-half"
                        data-field-id="9"><label class="wpforms-field-label"
                            for="wpforms-789-field_9">{{ $data.contact_form.cover_letter | safeHTML  }}</label>
                        <div class="wpforms-uploader" data-field-id="9" data-form-id="789"
                            data-input-name="wpforms_789_9"
                            data-extensions="jpg,jpeg,jpe,gif,png,bmp,tiff,tif,webp,ico,heic,asf,asx,wmv,wmx,wm,avi,divx,mov,qt,mpeg,mpg,mpe,mp4,m4v,ogv,webm,mkv,3gp,3gpp,3g2,3gp2,txt,asc,c,cc,h,srt,csv,tsv,ics,rtx,css,vtt,mp3,m4a,m4b,aac,ra,ram,wav,ogg,oga,flac,mid,midi,wma,wax,mka,rtf,pdf,class,tar,zip,gz,gzip,rar,7z,psd,xcf,doc,pot,pps,ppt,wri,xla,xls,xlt,xlw,mpp,docx,docm,dotx,dotm,xlsx,xlsm,xlsb,xltx,xltm,xlam,pptx,pptm,ppsx,ppsm,potx,potm,ppam,sldx,sldm,onetoc,onetoc2,onepkg,oxps,xps,odt,odp,ods,odg,odc,odb,odf,wp,wpd,key,numbers,pages,svg,svgz"
                            data-max-size="134217728" data-max-file-number="1"
                            data-post-max-size="134217728" data-max-parallel-uploads="4"
                            data-parallel-uploads="true" data-file-chunk-size="2097152">
                            <div class="dz-message">
                                <svg viewBox="0 0 1024 1024" focusable="false" class=""
                                    data-icon="inbox" width="50px" height="50px" fill="#B1B1B1"
                                    aria-hidden="true">
                                    <path
                                        d="M885.2 446.3l-.2-.8-112.2-285.1c-5-16.1-19.9-27.2-36.8-27.2H281.2c-17 0-32.1 11.3-36.9 27.6L139.4 443l-.3.7-.2.8c-1.3 4.9-1.7 9.9-1 14.8-.1 1.6-.2 3.2-.2 4.8V830a60.9 60.9 0 0 0 60.8 60.8h627.2c33.5 0 60.8-27.3 60.9-60.8V464.1c0-1.3 0-2.6-.1-3.7.4-4.9 0-9.6-1.3-14.1zm-295.8-43l-.3 15.7c-.8 44.9-31.8 75.1-77.1 75.1-22.1 0-41.1-7.1-54.8-20.6S436 441.2 435.6 419l-.3-15.7H229.5L309 210h399.2l81.7 193.3H589.4zm-375 76.8h157.3c24.3 57.1 76 90.8 140.4 90.8 33.7 0 65-9.4 90.3-27.2 22.2-15.6 39.5-37.4 50.7-63.6h156.5V814H214.4V480.1z">
                                    </path>
                                </svg>
                                <span class="modern-title">
                                    {{ $data.contact.upload_text | safeHTML  }} </span>

                            </div>
                        </div>
                        <input type="text" class="dropzone-input"
                            style="position:absolute!important;clip:rect(0,0,0,0)!important;height:1px!important;width:1px!important;border:0!important;overflow:hidden!important;padding:0!important;margin:0!important;"
                            id="wpforms-789-field_9" name="wpforms_789_9">
                    </div>
                    <div id="wpforms-789-field_10-container"
                        class="wpforms-field wpforms-field-textarea" data-field-id="10"><label
                            class="wpforms-field-label" for="wpforms-789-field_10">{{ $data.contact_form.add_info | safeHTML  }}</label><textarea id="wpforms-789-field_10"
                            class="wpforms-field-medium" name="wpforms[fields][10]"></textarea>
                    </div>
                </div>
                <div class="wpforms-field wpforms-field-hp"><label for="wpforms-789-field-hp"
                        class="wpforms-field-label">{{ $data.contact_form.site | safeHTML  }}</label><input type="text"
                        name="wpforms[hp]" id="wpforms-789-field-hp"
                        class="wpforms-field-medium"></div><input type="hidden"
                    name="wpforms[recaptcha]" value="">
                <div class="wpforms-submit-container"><input type="hidden" name="wpforms[id]"
                        value="789"><input type="hidden" name="wpforms[author]" value="1"><input
                        type="hidden" name="wpforms[post_id]" value="502"><button type="submit"
                        name="wpforms[submit]" class="wpforms-submit " id="wpforms-submit-789"
                        value="wpforms-submit" aria-live="assertive" data-alt-text="Sending..."
                        data-submit-text="Send">{{ $data.contact_form.send | safeHTML  }}</button></div>
            </form>
        </div> <!-- .wpforms-container -->
    </div>
</div>
</div>
</div>