<section id="footer-logos">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center logosFooter">

            <div class="col-md-4 text-center">
                <a href="https://www.maitrepaysagiste.com/" class="logosFooterImg" target="_blank">
                    <img src="{{"/img/logo_maitre-paysagiste.png" | relURL }}"
                        alt="" />
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://appq.org/" class="logosFooterImg" target="_blank">
                    <img src="{{"/img/logo_appq.png" | relURL }}"
                        alt="" />
                </a>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://rocvale.com/createur-dart-certifie-rocvale/" class="logosFooterImg"
                    target="_blank">
                    <img src="{{"/img/logo_createur-dart.png" | relURL }}"
                        alt="" />
                </a>
            </div>


        </div>
    </div>
</section>