<header>
    <div class="row m-0">
        <div class="col tools">

            <div class="wpml-ls-statics-shortcode_actions wpml-ls wpml-ls-legacy-list-horizontal">
                <ul>


                    {{ range .AllTranslations }}
                    {{ if (ne .Lang $.Site.Language.Lang) }}

                    <li
                        class="wpml-ls-slot-shortcode_actions wpml-ls-item wpml-ls-item-fr wpml-ls-first-item wpml-ls-last-item wpml-ls-item-legacy-list-horizontal">
                        <a href="{{ .Permalink }}" class="wpml-ls-link">
                            <span class="wpml-ls-native"
                                lang="{{ lower .Language.Lang }}">{{ upper .Language.Lang }}</span></a>
                    </li>
                    {{ end }}
                    {{ end }}

                </ul>
            </div>
            <a href="tel:+18885167067" class="tel-link header-tel">1 888 516.7067</a>
        </div>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col">
            <div id="wrapper-navbar" itemscope itemtype="http://schema.org/WebSite">
                <nav class="navbar navbar-expand-lg">

                    <a href=" /en/" class="navbar-brand custom-logo-link" rel="home"
                        aria-current="page"><img src="{{"/img/prodesign_logo.svg" | relURL }}"
                            class="custom-logo jetpack-lazy-image" alt="Pro Design Exterior Design" height="116.3"
                            width="587.4"
                            data-lazy-src="{{"/img/prodesign_logo.svg" | relURL }}"
                            srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <button class="navbar-toggler-close" type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation"><i class="fas fa-times-circle"></i></button>

                    <div id="navbarNavDropdown" class="collapse navbar-collapse">
                        <ul id="main-menu" class="navbar-nav ml-auto">
                            {{ $currentPage := . }}
                            {{ range .Site.Menus.main }}
                                {{ if .HasChildren }}
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-{{ .Params.item }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} menu-item-{{ .Params.item }} nav-item">
                                    <a title="Aménagement extérieur" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="dropdown-toggle nav-link" id="menu-item-dropdown-{{ .Params.item }}">{{ .Name }}</a>
                                    <ul class="dropdown-menu" aria-labelledby="menu-item-dropdown-{{ .Params.item }}" role="menu">
                                        {{ range .Children }}
                                        <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-530"
                                            class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-73 current_page_item {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }} menu-item-{{ .Params.item }} nav-item">
                                            <a title="Aménagement d’espace nature"
                                                href="{{ .URL }}"
                                                class="dropdown-item">{{ .Name }}</a></li>
                                        {{ end }}
                                    </ul>
                                </li>
                                {{ else }}
                                <li itemscope="itemscope" itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-{{ .Params.item }}"
                                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-{{ .Params.item }} nav-item"><a title="Expertise"
                                        href="{{ .URL }}" class="nav-link">{{ .Name }}</a></li>
                                
                                {{ end }}
                            {{ end }}


                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>