<!DOCTYPE html>
<html lang="fr-FR">
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ partial "head.html" . }}
<body
    class="page-template page-template-page-templates page-template-template-carrieres page-template-page-templatestemplate-carrieres-php page page-id-902 page-parent wp-custom-logo wp-embed-responsive group-blog">


    {{ partial "header.html" . }}
    <div id="careers">

        <section id="intro" class="d-flex justify-content-start align-items-center inner">
            <div class="overlayContent">
                <h1>
                    <span class="small wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="">{{ $data.careers.hero_text1 | safeHTML  }}</span>
                    <span class="big wow fadeInRight" data-wow-duration=".5s" data-wow-delay="">{{ $data.careers.hero_text2 | safeHTML  }}</span>
                </h1>
            </div>
            <img src="{{"/img/header_careers.png" | relURL }}" class="wow fadeIn"
                data-wow-duration="1s" data-wow-delay="0" width="100%" alt />
        </section>

        <section id="main-content"
            style="background: url(/img/foret.jpg) #fff top center no-repeat; background-size: cover;">
            <div class="row">
                <div class="col-xl-6 d-flex flex-column">
                    <h2>
                        <span>{{ $data.careers.sub_head | safeHTML  }}</span>
                        {{ $data.careers.sub_head2 | safeHTML  }}</h2>
                    <p>{{ $data.careers.text1 | safeHTML  }}</p>
                    <img src="{{"/img/careers_img1.png" | relURL }}"
                        class="mt-auto" width="100%" alt="" />
                </div>
                <div class="col-xl-6">
                    <img src="{{"/img/careers_img2.png" | relURL }}"
                        class="ml-5" width="100%" alt="" />
                </div>
        </section>

        <section id="cta-maitre-paysagiste">

            <div class="title-container">
                <div class="row">
                    <div class="col-12">
                        <h2 style="color: #fff;">
                            <span>{{ $data.careers.bottom_head | safeHTML  }}</span>
                            {{ $data.careers.bottom_text | safeHTML  }} </h2>
                    </div>
                </div>
            </div>

            <div id="slider-etapes">



                {{ range $data.careers.items}}
                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="{{.img | relURL }}" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>{{ .item }}</span>
                            {{ .item_title }}</div>
                        <p>{{.item_content}}</p>
                    </div>
                </div>
                {{end}}
<!-- 



                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/trees.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>02</span>
                            Être basé dans les Laurentides </div>
                        <p>Nos projets sont basés au cœur de la région des Laurentides. Aucune circulation, de l’espace
                            pour se stationner, le tout dans une ambiance naturelle et enivrante. Pas de stress de la
                            ville. Souvent, nos chantiers sont à proximité de lacs, alors on peut même se rafraîchir sur
                            l’heure du dîner et après la journée de travail. </p>
                    </div>
                </div>





                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/direction.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>03</span>
                            Avancer ensemble </div>
                        <p>Notre croissance soutenue permet d’offrir de belles possibilités d’avancement aux membres de
                            l’équipe. L’entreprise s’assure d’offrir les formations appropriées à ses employés et ce,
                            tout au long de l’année. Si tu as soif de grimper les échelons et te perfectionner, tu
                            trouveras ton compte avec nous. </p>
                    </div>
                </div>





                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/construction.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>04</span>
                            Un équipement à la fine pointe </div>
                        <p>L’investissement est constant en équipement chez Pro Design. Jamais un employé se plaint
                            qu’il manque un outil spécialisé pour faciliter le travail…. Nous avons les outils les plus
                            productifs de l’industrie. </p>
                    </div>
                </div>





                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/sandbox-1.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>05</span>
                            Un gros carré de sable </div>
                        <p>Avec la bonne ambiance de travail et l’ensemble des équipements et outils utilisés par Pro
                            Design, les clients nous comparent régulièrement à des enfants qui travaillent dans un gros
                            carré de sable!</p>
                    </div>
                </div>





                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/balance-1.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>06</span>
                            L'équilibre </div>
                        <p>Nos employés sont reconnus comme des membres de la famille. Nous accordons une grande
                            importance à conserver un équilibre travail/famille/vie extérieure. Nous collaborons et
                            évoluons ensemble.</p>
                    </div>
                </div>





                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/alarm-clock.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>07</span>
                            L'horaire de travail </div>
                        <p>5 jours semaine, aucun week-end, vacances pour les semaines de la construction. Prenons le
                            temps de vivre aussi!</p>
                    </div>
                </div>





                <div class="aStep">
                    <div class="aStep-icon">
                        <img src="https://pro-design.ca/wp-content/uploads/2021/03/tshirt.svg" alt="" />
                    </div>
                    <div class="aStep-content">
                        <div class="small-title">
                            <span>08</span>
                            Être fier! </div>
                        <p>Vêtements, casquette, chapeau, fournis par l’entreprise. Soyons beaux ensembles!</p>
                    </div>
                </div>
 -->




            </div>
        </section>

        <section id="careers-jobs">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        <span>{{ $data.careers.sub_head1 | safeHTML  }}</span>
                        {{ $data.careers.sub_head2 | safeHTML  }} </h2>
                </div>
                <div class="col-md-6">

                    <div class="steps-accordion">
                        {{ range $data.careers.career}}
                        <div class="accordion-title first">{{.sub_text1 | safeHTML  }}</div>
                        <div class="accordion-content first">
                            <p class="intro">{{ .sub_text2 | safeHTML  }}</p>
                            <p>{{ .sub_text_2 | safeHTML  }}</p>
                            <p>{{ .sub_text_3 | safeHTML  }}</p>
                            <p>{{ .sub_text_4 | safeHTML  }}</p>
                            <div class="btn-container text-left"><a
                                    href="{{ .first_link | relURL  }}" target=""
                                    class="btn-animated-line">{{ .button | safeHTML  }}</a></div>
                        </div>
                        {{end}}
                        <!-- <div class="accordion-title ">{{ $data.careers.sub_head3 | safeHTML  }} </div>
                        <div class="accordion-content ">
                            <p class="intro">{{ $data.careers.sub_text3 | safeHTML  }}.</p>
                            <p>{{ $data.careers.sub_text4 | safeHTML  }}</p>
                            <p>{{ $data.careers.sub_text5 | safeHTML  }}</p>
                            <p>{{ $data.careers.sub_text6 | safeHTML  }}</p>
                            <p>{{ $data.careers.sub_text7 | safeHTML  }}</p>
                            <div class="btn-container text-left"><a href="/carrieres/technicien-paysagiste/" target=""
                                    class="btn-animated-line">{{ $data.careers.button | safeHTML  }}</a></div>
                        </div> -->

                        <div class="last-border"></div>
                    </div>

                </div>
            </div>
        </section>

        <section class="content-par-2col">
            <div class="row">
                <div class="col-12">
                    <h2>
                        <span>{{ $data.careers.sub_head4 | safeHTML  }}</span>
                        {{ $data.careers.sub_head5 | safeHTML  }}
                    </h2>
                    <p>{{ $data.careers.sub_text5 | safeHTML  }}</p>
                    <p>{{ $data.careers.sub_head | safeHTML  }}</p>
                </div>
            </div>
        </section>

    </div>

{{ partial "innercta.html" .}}

   {{ partial "footerlogo.html" . }}

   {{ partial "footer.html" .}}
 
    {{ partial "last.html" . }}
</body>

</html>

<!--  -->