<!DOCTYPE html>
<html lang="en-US">
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $page_title_data := .Params.Title }}
{{ $scratch := .Scratch }}
{{ range $data.portfolio.portfolios }}
    {{ if eq $page_title_data .title }}
        {{ $scratch.Set "name1" .name1 }}
        {{ $scratch.Set "name2" .name2 }}
        {{ $scratch.Set "title" .title }}
        {{ $scratch.Set "link1" .link1 }}
        {{ $scratch.Set "button" .button }}
        {{ $scratch.Set "img" .img }}
        {{ $scratch.Set "link1" .link1 }}
        {{ $scratch.Set "style_type" .style_type }}

        {{ $scratch.Set "left_img_head" .left_img_head }}
        {{ $scratch.Set "left_img_head1" .left_img_head1 }}
        {{ $scratch.Set "left_content" .left_content }}
        {{ $scratch.Set "left_img" .left_img }}
        {{ $scratch.Set "contact_link" .contact_link}} 
        {{ $scratch.Set "link_txt" .link_txt}}
        {{ $scratch.Set "bg_img_1" .bg_img_1}}
        {{ $scratch.Set "bg_text" .bg_text}}
        {{ $scratch.Set "bg_right_txt" .bg_right_txt}}
        {{ $scratch.Set "bg_right_txt1" .bg_right_txt1}}
        {{ $scratch.Set "bg_right_img" .bg_right_img}}     
        {{ $scratch.Set "bg_left_txt" .bg_left_txt}}
        {{ $scratch.Set "bg_left_txt1" .bg_left_txt1}}
        {{ $scratch.Set "bg_left_img" .bg_left_img}}
        {{ $scratch.Set "bg_text_2" .bg_text_2}}
        {{ $scratch.Set "rock_txt1" .rock_txt1}}
        {{ $scratch.Set "rock_txt2" .rock_txt2}}
        {{ $scratch.Set "rock_img" .rock_img}}
        {{ $scratch.Set "plant_txt1" .plant_txt1}}
        {{ $scratch.Set "plant_txt2" .plant_txt2}}
        {{ $scratch.Set "plant_img" .plant_img}}
        {{ $scratch.Set "plant_link" .plant_link}}
        {{ $scratch.Set "rock2_txt1" .rock2_txt1}}
        {{ $scratch.Set "rock2_txt2" .rock2_txt2}}
        {{ $scratch.Set "rock2_img" .rock2_img}}
        {{ $scratch.Set "rock2_link" .rock2_link}}
        

        

    {{ end }}
{{ end }}
{{ partial "head.html" . }}

<body
    class="portfolio-template-default single single-portfolio postid-811 wp-custom-logo wp-embed-responsive group-blog">


   {{ partial "header.html" . }}
    <div id="portfolio-single">

        <section class="portfolio-single-slider">
            {{ range .Scratch.Get "img" }}
            <div><img
                    src="{{ . }}"
                    width="100%" alt="" /></div>
            {{ end }}
        </section>

        <section class="single-details bg-white">

            <div class="container">


                <div class="row">
                    <div class="col-lg-6">

                        <span class="bg-text">{{ .Scratch.Get "style" | safeHTML }}</span>

                    </div>
                    <div class="col-lg-6">

                        <div class="slider-textures">
                            {{ range .Scratch.Get "style_type" }}
                            <div>
                                <div class="overlayTitle">
                                    <h2><span>{{.stn_head}}</span>{{.stn_text}}</h2>
                                </div>
                                <img src="{{ .style_img }}" width="100%" alt="" />
                            </div>
                            {{ end }}

                        </div>

                        <div class="slider-textures-nav">
                            
                            {{ range .Scratch.Get "style_type" }}
                            <div><img
                                src="{{ .sm_img }}"
                                width="100%" alt="" /></div>    
                            {{ end }}
                            
                            
                        </div>

                    </div>
                </div>


                <div class="row d-flex align-items-end negative-margin-less">
                    <div class="col-lg-6">

                        <div class="slider-textures2">

                            <div>
                                <div class="overlayTitle">
                                    <h2><span>{{ .Scratch.Get "left_img_head" | safeHTML }}</span>{{ .Scratch.Get "left_img_head1" | safeHTML }}</h2>
                                </div>
                                <img src="{{ .Scratch.Get "left_img" | safeHTML }}"
                                    width="100%" alt="" />
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="more-padding pb-0 pt-0">
                            <h6 class="black mb-5">{{ .Scratch.Get "left_content" | safeHTML }}</h6>
                            <a href="{{ .Scratch.Get "contact_link" | safeHTML }}" class="btn-square" target="">{{ .Scratch.Get "link_txt" | safeHTML }}</a>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section id="cta" class="d-flex justify-content-center align-items-center"
            onclick="location.href='{{ .Scratch.Get "contact_link" | safeHTML }}';" style="cursor:pointer;">
            <div class="overlayContent">
                <h3>{{ .Scratch.Get "bg_text" | safeHTML }}</h3>
            </div>
            <img src="{{ .Scratch.Get "bg_img_1" | safeHTML }}"
                width="100%" alt="" />
        </section>

        <section class="single-details negative-margin">

            <div class="container">

                <div class="row">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="slider-textures3">
                            <div>
                                <div class="overlayTitle bg-black">
                                    <h2 class="white"><span>{{ .Scratch.Get "bg_right_txt" | safeHTML }}</span>{{ .Scratch.Get "bg_right_txt1" | safeHTML }}</h2>
                                </div>
                                <img src="{{ .Scratch.Get "bg_right_img" | safeHTML }}"
                                    width="100%" alt="" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row d-flex align-items-end negative-margin-less">
                    <div class="col-lg-6">
                        <div class="slider-textures4">
                            <div>
                                <div class="overlayTitle bg-black">
                                    <h2 class="white"><span>{{ .Scratch.Get "bg_left_txt" | safeHTML }}</span>{{ .Scratch.Get "bg_left_txt1" | safeHTML }}</h2>
                                </div>
                                <img src="{{ .Scratch.Get "bg_left_img" | safeHTML }}"
                                    width="100%" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <span class="bg-text-black">{{ .Scratch.Get "bg_text_2" | safeHTML }}</span>
                    </div>
                </div>

            </div>

        </section>

    </div>


    {{/*  <section id="inner-cta">
        <div class="row">
            <div class="col-md-4 p-0">
                <div class="cta-left-container">
                    <div class="cta-left" style="cursor: pointer;"
                        onclick="window.location='{{ .Scratch.Get "contact_link" | safeHTML }}';">
                        <div class="object">
                            <img src="{{ .Scratch.Get "rock_img" | safeHTML }}"
                                alt="" />
                        </div>
                        <div>
                            <span class="small">{{ .Scratch.Get "rock_txt1" | safeHTML }}</span>
                            <span class="big">{{ .Scratch.Get "rock_txt2" | safeHTML }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="cta-center-container">
                    <div class="cta-center" style="cursor: pointer;"
                        onclick="window.location='{{ .Scratch.Get "plant_link" | safeHTML }}';">
                        <div class="object">
                            <img src="{{ .Scratch.Get "plant_img" | safeHTML }}"
                                alt="" />
                        </div>
                        <div>
                            <span class="small">{{ .Scratch.Get "plant_txt1" | safeHTML }}</span>
                            <span class="big">{{ .Scratch.Get "plant_txt2" | safeHTML }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="cta-right-container">
                    <div class="cta-right" style="cursor: pointer;"
                        onclick="window.location='{{ .Scratch.Get "rock2_link" | safeHTML }}';">
                        <div class="object">
                            <img src="{{ .Scratch.Get "rock2_img" | safeHTML }}"
                                alt="" />
                        </div>
                        <div>
                            <span class="small">{{ .Scratch.Get "rock2_txt1" | safeHTML }}</span>
                            <span class="big">{{ .Scratch.Get "rock2_txt2" | safeHTML }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  */}}
    {{ partial "portfolio_foot.html" .}}
    {{ partial "footerlogo.html" . }}

    {{ partial "footer.html" . }}

    {{ partial "last.html" . }}

</body>

</html>