<!DOCTYPE html>
<html lang="en-US">
    
{{ partial "head.html" . }}
<body>
    
    {{ $data := index .Site.Data .Site.Language.Lang }}
    <main role="main" class="home page-template page-template-page-templates page-template-template-accueil page-template-page-templatestemplate-accueil-php page page-id-468 wp-custom-logo wp-embed-responsive group-blog">

{{ partial "header.html" . }}
    <div id="home">

        <section id="intro">

            <div id="intro-slider">



                <div class="d-flex justify-content-center align-items-center" style="height:100%">
                    <div class="overlayContent">
                        <h1>
                            <span class="big wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="">{{ $data.home.hero_text | safeHTML  }}</span>
                            <span class="small wow fadeInRight" data-wow-duration=".5s"
                                data-wow-delay="">{{ $data.home.hero_text1 | safeHTML  }}<br> 
                                {{ $data.home.hero_text21 | safeHTML  }}</span>
                        </h1>
                    </div>
                    <video playsinline autoplay muted loop id="bgvid">
                        <source src="{{ $data.home.video | safeHTML  }}"
                            type=video/mp4> </video> </div> <div class="hero-filter">
                </div>



            </div>

            <div class="social">
                <a href="https://www.facebook.com/createurdepaysage" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/prodesign.ca/" target="_blank">Instagram</a>
            </div>

        </section>



        <section id="main-content"
            style="background: url(/img/foret.jpg) #fff top center no-repeat;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <h2>
                            <span>{{ $data.home.heading | safeHTML  }}</span>
                            {{ $data.home.text | safeHTML  }} </h2>
                        <p><span style="font-weight: 400;">{{ $data.home.text1 | safeHTML  }}</span></p>
                        <a href="{{ $data.home.link | safeHTML  }}" class="btn-square" target="">{{ $data.home.link_text | safeHTML  }}</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="cta" class="d-flex justify-content-center align-items-center">
            <div class="overlayContent">
                <h3>{{ $data.home.hero_text2 | safeHTML  }}</h3>
            </div>
            <img src="{{"/img/home-cta.jpg" | relURL }}"
                width="100%" alt="" />

            <div class="home-services">
                <ul class="row d-flex">
                    <li class="col"><a href="{{ $data.home.land_link | safeHTML  }}">{{ $data.home.land_text | safeHTML  }}<br>{{ $data.home.land_text21 | safeHTML  }} </a></li>
                    <li class="col"><a href="{{ $data.home.masonry_link | safeHTML  }}">{{ $data.home.masonry | safeHTML  }}</a></li>
                    <li class="col"><a href="{{ $data.home.retaining_link | safeHTML  }}">{{ $data.home.retaining | safeHTML  }}</a></li>
                    <li class="col"><a href="{{ $data.home.pave_link | safeHTML  }}">{{ $data.home.pave | safeHTML  }}</a></li>
                    <li class="col"><a href="{{ $data.home.stone_link | safeHTML  }}">{{ $data.home.stone | safeHTML  }}</a>
                    </li>
                </ul>
            </div>

        </section>

        <section id="home-portfolio">

            <div class="row">
                <div class="col-12">

                    <div id="product__slider">
                        <div class="product__slider-main">

 


                            {{ range $data.home.tendances }}
                            <div class="slide">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div class="slide-infos">
                                            <span class="slide-id">
                                                {{ .blog_no | safeHTML   }}<br></span>
                                            <span class="slide-title">
                                                
                                                <span>{{ .sub_head | safeHTML  }}</span>
                                                {{ .sub_text | safeHTML  }} </span>
                                            <span class="slide-btn"><a
                                                    href="{{ .find_link | relURL  }}">{{ .find_text | safeHTML  }}</a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 homeRealImg"
                                        style="background: url('{{ .img | relURL }}') no-repeat center center; background-size: cover;">
                                        <div class="sliderFilter"></div>
                                        <img src="{{ .img | relURL }}"
                                            width="100%" style="display: none;" />
                                    </div>
                                </div>
                            </div>

                            {{end }}
<!-- 
                            <div class="slide">
                                <div class="row">
                                    <div class="col-md-6 d-flex justify-content-center">
                                        <div class="slide-infos">
                                            <span class="slide-id">
                                                02 /
                                                02 </span>
                                            <span class="slide-title">
                                                <span>{{ $data.home.sub_head1 | safeHTML  }}</span>
                                                {{ $data.home.sub_text1 | safeHTML  }} </span>
                                            <span class="slide-btn"><a
                                                    href="{{ $data.home.find_link1 | safeHTML  }}">{{ $data.home.find_text | safeHTML  }}</a></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 homeRealImg"
                                        style="background: url(/img/st-sauveur-01.jpg) no-repeat center center; background-size: cover;">
                                        <div class="sliderFilter"></div>
                                        <img src="{{"/img/st-sauveur-01.jpg" | relURL }}"
                                            width="100%" style="display: none;" />
                                    </div>
                                </div>
                            </div>
 -->


                        </div>

                    </div>
                </div>
                
                <div class="col-12">
                    
                    <div class="product__slider-thmb" dir="rtl">


                        {{ range $data.home.images}}
                        <div class="slide"
                            style="background:url( '{{.}}' ) center center no-repeat; background-repeat: cover;">
                        </div>
                        {{end}}
                       
<!-- 
                        <div class="slide"
                            style="background:url(/img/st-sauveur-01.jpg) center center no-repeat; background-repeat: cover;">
                        </div>
 -->


                    </div>
                   
                </div>
               
            </div>

        </section>

        <section id="home-blog">
            <div class="row">
                <div class="col-md-6 p-0">
                    <h2 class="white">{{ $data.home.trends | safeHTML  }}</h2>
                </div>
                <div class="col-md-6 url-blog-container">
                    <a href="{{ $data.home.trends_link | safeHTML  }}" class="btn-text">{{ $data.home.article | safeHTML  }}</a>
                </div>
            </div>
            <div class="row aBlogRow">

                {{ range $data.home.blog }}

                <div class="col-md-4 aBlogContainer">
                    <div class="aBlog">
                        <div class="blog-img"><a
                                href="{{.landscape_link | relURL }}"><img
                                    width="2154" height="1424"
                                    src="{{ .img | relURL }}"
                                    class="attachment-full size-full wp-post-image jetpack-lazy-image" alt=""
                                    loading="lazy"
                                    data-lazy-src="{{ .img | relURL}}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a>
                        </div>
                        <div class="blog-title"><a
                                href="{{ .landscape_link | relURL }}">{{ .land_text1 | safeHTML  }}</a></div>
                        <div class="blog-excerpt">
                            <p>{{ .land_text2 | safeHTML  }} [&#8230;]</p>
                            <p><a class="btn btn-secondary understrap-read-more-link"
                                    href="{{ .landscape_link | relURL }}">{{ .land_text3 | safeHTML  }}&#8230;</a></p>
                        </div>
                    </div>
                </div>

                {{ end }}
<!-- 

                <div class="col-md-4 aBlogContainer">
                    <div class="aBlog">
                        <div class="blog-img"><a href="{{ $data.home.land_new_link | safeHTML  }}"><img
                                    width="1200" height="900"
                                    src="{{"/img/IMG_3245.jpg" | relURL }}"
                                    class="attachment-full size-full wp-post-image jetpack-lazy-image"
                                    alt="amenagement_exterieur_tendances" loading="lazy"
                                    data-lazy-srcset="/img/IMG_3245.jpg  1200w, 
                                    /img/IMG_3245_300.jpg 300w,
                                     /img/IMG_3245_1024.jpg  1024w,
                                      /img/IMG_3245_768.jpg 768w"
                                    data-lazy-sizes="(max-width: 1200px) 100vw, 1200px"
                                    data-lazy-src="{{"/img/IMG_3245.jpg" | relURL }}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a>
                        </div>
                        <div class="blog-title"><a href="{{ $data.home.land_new_link | safeHTML  }}">{{ $data.home.land_new_text1 | safeHTML  }}</a></div>
                        <div class="blog-excerpt">
                            <p>{{ $data.home.land_new_text2 | safeHTML  }} [&#8230;]</p>
                            <p><a class="btn btn-secondary understrap-read-more-link"
                                    href="{{ $data.home.land_new_link | safeHTML  }}">{{ $data.home.land_new_text3 | safeHTML  }}&#8230;</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 aBlogContainer">
                    <div class="aBlog">
                        <div class="blog-img"><a href="{{ $data.home.land_maintain_link | safeHTML  }}"><img
                                    width="600" height="429"
                                    src="{{"/img/308050_10150331172586681_523016680_8469649_661628271_n.jpg" | relURL }}"
                                    class="attachment-full size-full wp-post-image jetpack-lazy-image" alt=""
                                    loading="lazy"
                                    data-lazy-srcset="/img/308050_10150331172586681_523016680_8469649_661628271_n.jpg 600w, 
                                    /img/308050_10150331172586681_523016680_8469649_661628271_n_800.jpg 300w"
                                    data-lazy-sizes="(max-width: 600px) 100vw, 600px"
                                    data-lazy-src="{{"/img/308050_10150331172586681_523016680_8469649_661628271_n.jpg" | relURL }}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a>
                        </div>
                        <div class="blog-title"><a
                                href="{{ $data.home.land_maintain_link | safeHTML  }}">{{ $data.home.land_maintain_text1 | safeHTML  }}</a></div>
                        <div class="blog-excerpt">
                            <p>{{ $data.home.land_maintain_text2 | safeHTML  }} [&#8230;]</p>
                            <p><a class="btn btn-secondary understrap-read-more-link"
                                    href="{{ $data.home.land_maintain_link | safeHTML  }}">{{ $data.home.land_text3 | safeHTML  }}&#8230;</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 aBlogContainer">
                    <div class="aBlog">
                        <div class="blog-img"><a
                                href="{{ $data.home.create_garden_link | safeHTML  }}"><img
                                    width="2154" height="1424"
                                    src="{{"/img/La-creation-espaces-verts-lumiere-sur-les-potagers-et-jardins-e1593790774241.png" | relURL }}"
                                    class="attachment-full size-full wp-post-image jetpack-lazy-image" alt=""
                                    loading="lazy"
                                    data-lazy-src="/img/La-creation-espaces-verts-lumiere-sur-les-potagers-et-jardins-e1593790774241.png"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a>
                        </div>
                        <div class="blog-title"><a
                                href="{{ $data.home.create_garden_link | safeHTML  }}">{{ $data.home.create_garden_text1 | safeHTML  }}</a></div>
                        <div class="blog-excerpt">
                            <p>{{ $data.home.create_garden_text2 | safeHTML  }}
                                [&#8230;]</p>
                            <p><a class="btn btn-secondary understrap-read-more-link"
                                    href="{{ $data.home.create_garden_link | safeHTML  }}">{{ $data.home.land_text3 | safeHTML  }}&#8230;</a></p>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 aBlogContainer">
                    <div class="aBlog">
                        <div class="blog-img"><a
                                href="{{ $data.home.land_light_link | safeHTML  }}"><img width="960"
                                    height="639"
                                    src="{{"/img/IMG_7262.JPG.jpg" | relURL }}"
                                    class="attachment-full size-full wp-post-image jetpack-lazy-image" alt=""
                                    loading="lazy"
                                    data-lazy-srcset="/img/IMG_7262.JPG.jpg 960w,
                                    /img /IMG_7262_300.JPG.jpg 300w,
                                      /img/IMG_7262_768.JPG.jpg 768w"
                                    data-lazy-sizes="(max-width: 960px) 100vw, 960px"
                                    data-lazy-src="{{"/img/IMG_7262.JPG.jpg" | relURL }}"
                                    srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" /></a>
                        </div>
                        <div class="blog-title"><a
                                href="{{ $data.home.land_light_link | safeHTML  }}">{{ $data.home.land_light_text1 | safeHTML  }}</a></div>
                        <div class="blog-excerpt">
                            <p>{{ $data.home.land_light_text2 | safeHTML  }} [&#8230;]
                            </p>
                            <p><a class="btn btn-secondary understrap-read-more-link"
                                    href="{{ $data.home.land_light_link | safeHTML  }}">{{ $data.home.land_text3 | safeHTML  }}&#8230;</a></p>
                        </div>
                    </div>
                </div> -->

            </div>
        </section>

    </div>


{{ partial "footerlogo.html" . }}
{{ partial "footer.html" . }}
    
{{ partial "last.html" . }}
</main>

</body>

</html>
